p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background: #111111;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

.search_film_input {
  background: transparent;
  padding: 12px 24px 12px 24px;
  margin-right: 16px;
  width: 219px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #b7b7b7;
  outline: none;
}
.search_film {
  padding-top: 40px;
}
.search_film_btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: transparent;
  border-radius: 50%;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
}

.search_film_list {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}
.search_film_title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #ffffff;
}
.search_film_genre {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b7b7b7;
}
.search_film_img_wrap {
  position: relative;
}
.search_film_img {
  border-radius: 5px;
}
.search_film_wrap {
  position: absolute;
  bottom: 20px;
  left: 12px;
}
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}
#form {
  position: relative;
}
.btn_reset {
  background: transparent;
  border: transparent;
  color: #b7b7b7;
  position: absolute;
  cursor: pointer;
  right: 25%;
  top: 10px;
}
.to_top {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 50px;
  height: 50px;
  fill: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);

  background-size: contain;

  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .search_film {
    text-align: center;
  }
  .search_film_wrap,
  .search_film_img {
    width: 224px;
  }
  .search_film_title,
  .search_film_genre {
    font-size: 12px;
    line-height: 1.5;
  }
  .search_film_list {
    column-gap: 16px;
    row-gap: 28px;
  }
  .search_film_list {
    padding-top: 36px;
  }
  .search_film {
    padding-top: 60px;
  }
  .btn_reset {
    right: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1290px;
  }
  .search_film_wrap,
  .search_film_img {
    width: 394px;
  }
  .search_film_title {
    font-size: 18px;
  }
  .search_film_genre {
    font-size: 20px;
    line-height: 1.15;
  }
  .search_film_input {
    width: 334px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }
  .search_film_wrap {
    left: 20px;
  }
}
